<a href="https://colab.research.google.com/github/NaziaAshraf/JavaLabWork/blob/main/pandaCdac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#3datatypes
#series
#panel

In [ ]:
import pandas as pd

In [ ]:
#
s1=pd.Series([10,20,30,40])
print('type of s1',type(s1))
print(s1)

type of s1 <class 'pandas.core.series.Series'>
0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
s1=pd.Series([10,20,30,40],index=[2020,2021,2022,2023])
print('type of s1',type(s1))
print(s1)

type of s1 <class 'pandas.core.series.Series'>
2020    10
2021    20
2022    30
2023    40
dtype: int64

In [ ]:
s2=pd.Series(['A','B','C','D'])
print('type of s1',type(s2))
print(s2)

In [ ]:
s2=pd.Series(['A','B','C','D'],index=['c1','c2','c3','c4'])
print('type of s1',type(s2))
print(s2)

type of s1 <class 'pandas.core.series.Series'>
c1    A
c2    B
c3    C
c4    D
dtype: object

In [ ]:
label=input('enter label to get value from series')
print('value at given label',s2[label])

enter label to get value from seriesc2
value at given label B

In [ ]:
index=int(input('enter label to get value from series'))
print('value at given label',s2[index])

enter label to get value from series2
value at given label C

In [ ]:
label=int(input('enter label to get value from series'))
print('value at given label',s1[label])

enter label to get value from series2021
value at given label 20

In [ ]:
index=int(input('enter label to get value from series'))
print('value at given label',s1[index])

enter label to get value from series2

KeyError: ignored

In [ ]:
label=input('enter label to get value from series')
value=input('enter new value')
s2[label]=value
print('value at given label',s2[label])

enter label to get value from seriesc9
enter new valueY
value at given label Y

In [ ]:
s2

c1     A
c2     B
c3     C
c4     D
23    33
c5     E
dtype: object

In [ ]:
print('slicing \n',s2['c1':'c4'])
print('slicing 2 \n',s2[:'c7'])
print('slicing 3 \n',s2['c4'])
print('slicing 4 \n',s2[::2])
print('slicing \n',s2[::-1])

slicing
 c1    A
c2    B
c3    C
c4    D
dtype: object
slicing 2
 c1     A
c2     B
c3     C
c4     D
23    33
c5     E
c7     M
dtype: object
slicing 3
 D
slicing 4
 c1     A
c3     C
23    33
c7     M
dtype: object
slicing
 c9     Y
c7     M
c5     E
23    33
c4     D
c3     C
c2     B
c1     A
dtype: object

In [ ]:
s1

2020    10
2021    20
2022    30
2023    40
dtype: int64

In [ ]:
s2

c1     A
c2     B
c3     C
c4     D
23    33
c5     E
c7     M
c9     Y
dtype: object

In [ ]:
print('slicing \n',s1.iloc['c1':'c4'])
#print('slicing 2 \n',s1.iloc[:'c7'])
print('slicing 3 \n',s1.iloc['c4'])
print('slicing 4 \n',s1.iloc[::2])
print('slicing \n',s1.iloc[::-1])

TypeError: ignored

In [ ]:
print('slicing \n',s1.iloc[0:2])
print('slicing 1\n',s1.iloc[2:3])

slicing
 2020    10
2021    20
dtype: int64
slicing 1
 2022    30
dtype: int64

In [ ]:
print('slicing \n',s2.loc[2020:'c4'])
#print('slicing 2 \n',s2[:'c7'])
#print('slicing 3 \n',s2['c4'])
##print('slicing \n',s2[::-1])

slicing
 c1    A
c2    B
c3    C
c4    D
dtype: object

In [ ]:
#create dataframw
df=pd.DataFrame([[100,200,300],[400,500,600],[700,800,900]])
print('data type of df',type(df))

data type of df <class 'pandas.core.frame.DataFrame'>

In [ ]:
df

      BMW  TATA  AUDI
2020  100   200   300
2021  400   500   600
2022  700   800   900

In [ ]:
df=pd.DataFrame([[100,200,300],[400,500,600],[700,800,900]],
                index=[2020,2021,2022])
print(df)

        0    1    2
2020  100  200  300
2021  400  500  600
2022  700  800  900

In [ ]:
df=pd.DataFrame([[100,200,300],[400,500,600],[700,800,900]],
                index=[2020,2021,2022],
                columns=['BMW','TATA','AUDI'])
print(df)

      BMW  TATA  AUDI
2020  100   200   300
2021  400   500   600
2022  700   800   900

In [ ]:
print('bmw sales over year \n',df['BMW'])

bmw sales over year
 2020    100
2021    400
2022    700
Name: BMW, dtype: int64

In [ ]:
print(df.TATA)

NameError: ignored

In [ ]:
print('sales of audi in 2022',df['AUDI'][2022])

sales of audi in 2022 900

In [ ]:
print('sales of car in 2021=',df.loc[2021:2021,:])

sales of car in 2021=       BMW  TATA  AUDI
2021  400   500   600

In [ ]:
print('sales of car in 2021=',df.iloc[1:2,:])

sales of car in 2021=       BMW  TATA  AUDI
2021  400   500   600

In [ ]:
type(df.iloc[1:2,:])

pandas.core.frame.DataFrame

In [ ]:
d1={'c1':[100,200,300],'c2':[200,300,500],'c3':[500,600,700]}
df1=pd.DataFrame(d1,index=[2020,2021,2022])
print(df1)

       c1   c2   c3
2020  100  200  500
2021  200  300  600
2022  300  500  700

In [ ]:
path='/content/airline_passengers.csv'
df_airline=pd.read_csv(path)
df_airline

,Month,Thousands of Passengers
0,1949-01,112.0
1,1949-02,118.0
2,1949-03,132.0
3,1949-04,129.0
4,1949-05,121.0
...,...,...
141,1960-10,461.0
142,1960-11,390.0
143,1960-12,432.0
144,NaN,NaN
145,International airline passengers: monthly tota...,NaN

In [ ]:
df_airline.head()

     Month  Thousands of Passengers
0  1949-01                    112.0
1  1949-02                    118.0
2  1949-03                    132.0
3  1949-04                    129.0
4  1949-05                    121.0

In [ ]:
df_airline.head(10)

     Month  Thousands of Passengers
0  1949-01                    112.0
1  1949-02                    118.0
2  1949-03                    132.0
3  1949-04                    129.0
4  1949-05                    121.0
5  1949-06                    135.0
6  1949-07                    148.0
7  1949-08                    148.0
8  1949-09                    136.0
9  1949-10                    119.0

In [ ]:
df_airline.tail()

,Month,Thousands of Passengers
141,1960-10,461.0
142,1960-11,390.0
143,1960-12,432.0
144,NaN,NaN
145,International airline passengers: monthly tota...,NaN

In [ ]:
df_airline.tail(10)

,Month,Thousands of Passengers
136,1960-05,472.0
137,1960-06,535.0
138,1960-07,622.0
139,1960-08,606.0
140,1960-09,508.0
141,1960-10,461.0
142,1960-11,390.0
143,1960-12,432.0
144,NaN,NaN
145,International airline passengers: monthly tota...,NaN

In [ ]:
df_airline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Month                    145 non-null    object
 1   Thousands of Passengers  144 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.4+ KB

In [ ]:
df_airline.describe()

       Thousands of Passengers
count               144.000000
mean                280.298611
std                 119.966317
min                 104.000000
25%                 180.000000
50%                 265.500000
75%                 360.500000
max                 622.000000

In [ ]:
df_apple=pd.read_csv('/content/appledata.csv')
df_apple

,Date,Open,High,Low,Close,Adj Close,Volume,Open:10 days rolling,Open:30 days rolling
0,12-12-1980,0.128348,0.128906,0.128348,0.128348,0.099722,469033600,0.128348,0.128348
1,15-12-1980,0.122210,0.122210,0.121652,0.121652,0.094519,175884800,0.125279,0.125279
2,16-12-1980,0.113281,0.113281,0.112723,0.112723,0.087582,105728000,0.121280,0.121280
3,17-12-1980,0.115513,0.116071,0.115513,0.115513,0.089749,86441600,0.119838,0.119838
4,18-12-1980,0.118862,0.119420,0.118862,0.118862,0.092351,73449600,0.119643,0.119643
...,...,...,...,...,...,...,...,...,...
10664,31-03-2023,162.440002,165.000000,161.910004,164.899994,164.899994,68694700,159.063002,153.195001
10665,03-04-2023,164.270004,166.289993,164.220001,166.169998,166.169998,56976200,159.983002,153.592334
10666,04-04-2023,166.600006,166.839996,165.110001,165.630005,165.630005,46278300,160.911002,154.139001
10667,05-04-2023,164.740005,165.050003,161.800003,163.759995,163.759995,51511700,161.455002,154.668001
10668,06-04-2023,162.429993,164.960007,162.000000,164.660004,164.660004,45390100,161.815001,155.079334

In [ ]:
df_apple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10669 entries, 0 to 10668
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  10669 non-null  object
 1   Open                  10669 non-null  float64
 2   High                  10669 non-null  float64
 3   Low                   10669 non-null  float64
 4   Close                 10669 non-null  float64
 5   Adj Close             10669 non-null  float64
 6   Volume                10669 non-null  int64
 7   Open:10 days rolling  10669 non-null  float64
 8   Open:30 days rolling  10669 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 750.3+ KB

In [ ]:
df_apple.describe()

,Open,High,Low,Close,Adj Close,Volume,Open:10 days rolling,Open:30 days rolling
count,10669.000000,10669.000000,10669.000000,10669.000000,10669.000000,1.066900e+04,10669.000000,10669.000000
mean,17.283061,17.481241,17.090309,17.293794,16.603084,3.260593e+08,17.214279,17.067875
std,36.517145,36.962899,36.095208,36.549309,36.200560,3.374228e+08,36.382405,36.109188
min,0.049665,0.049665,0.049107,0.049107,0.038154,0.000000e+00,0.053460,0.057162
25%,0.287946,0.296875,0.282366,0.289286,0.238744,1.200528e+08,0.289397,0.286789
50%,0.491071,0.499107,0.484375,0.491071,0.407088,2.132924e+08,0.489268,0.485000
75%,16.762142,16.978571,16.642857,16.743929,14.607308,4.057004e+08,16.885679,16.736798
max,182.630005,182.940002,179.119995,182.009995,180.683868,7.421641e+09,178.310001,174.890000

In [ ]:
df_airline.isna().sum()

Month                      1
Thousands of Passengers    2
dtype: int64

In [ ]:
df_apple.isna().sum()

Date                    0
Open                    0
High                    0
Low                     0
Close                   0
Adj Close               0
Volume                  0
Open:10 days rolling    0
Open:30 days rolling    0
dtype: int64

In [ ]:
from tables.table import descr_from_dtype
df_apple.isna().sum()

In [ ]:
df_pokemon=pd.read_csv('/content/Pokemon.csv')
df_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
df_pokemon['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [ ]:
df_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [ ]:
df_pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [ ]:
df_pokemon.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [ ]:
df_pokemon.isna().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [ ]:
#df_pokemon.dropna(axis=0,inplace=True)

In [ ]:
df_pokemon.isna().sum()

In [ ]:
df_pokemon.info()

In [ ]:
#df_pokemon.nlargest(5,['Total'])

In [ ]:
cat=df_pokemon['Type 1'].unique